.screen {
  height: 400px;
  width: 300px;
  background: #e2e3e2;
  border-radius: 10px;
  background-image: url('https://img.freepik.com/premium-vector/natural-background-with-clouds-sun-blue-sky-realistic-cloud-blue-backdrop-vector-illustration_515038-928.jpg?w=460');

}


